
$red: #ce232e;
// $white: #FFF;
// $text: #616265;
// $blue: #1363DE;
// $blue-opaque: #366BBC;
// $blue-dark: #002C5F;
// $orange: #FF9900;
// $light-background: #F3F7F8;
// $grey-background: #C4C4C4;

// $primary: $blue;

// $link: $primary;
$title-size: 40px;
$size-1: 102px;
$size-2: 40px;
$size-3: 32px;
$size-4: 24px;
$size-5: 18px;
$size-6: 16px;
$size-7: 12px;

// $body-color:
$body-family: 'Source Sans Pro';
$body-font-size: 14px;
$body-weight: 400;
$body-line-height: 1.7;

// navbar
$navbar-height: 5rem;
$navbar-item-img-max-height: 48px;
// $navbar-item-color: #FFF;
$navbar-item-hover-color: inherit;
// $navbar-item-active-color: #FFF;
// $navbar-dropdown-arrow: #FFF;
$navbar-background-color: transparent;
$navbar-item-hover-background-color: transparent;

$navbar-dropdown-item-hover-background-color: transparent; 
$navbar-dropdown-item-hover-color: $red;
